* {
  margin: 0;
  padding: 0;
}

ul, li {
  list-style: none;
}

a {
  text-decoration: none;
}

em {
  font-style: normal;
}

.topbar-banner-Wrapper {
  width: 100%;
  height: 120px;
  position: relative;
}
.topbar-banner-Wrapper .link-block {
  position: absolute;
  top: 0;
  width: 100%;
  height: 120px;
  background-position: 50%;
  background-size: auto 120px;
}

.site-topbar {
  position: relative;
  height: 40px;
  background: #333;
  color: #b0b0b0;
  font-size: 12px;
}
.site-topbar .container {
  width: 1226px;
  margin: 0 auto;
}
.site-topbar .container .topbar-nav {
  height: 40px;
  line-height: 40px;
  float: left;
}
.site-topbar .container .topbar-nav .sep {
  margin: 0.3em;
  color: #424242;
}
.site-topbar .container .topbar-nav a {
  display: inline-block;
  color: #b0b0b0;
  line-height: 40px;
}
.site-topbar .container .topbar-nav .topbar-download {
  position: relative;
}
.site-topbar .container .topbar-nav .topbar-download .appcode {
  position: absolute;
  top: 40px;
  left: 50%;
  width: 124px;
  height: 0;
  background-color: #fff;
  box-shadow: 0 1px 5px #aaa;
  text-align: center;
  font-size: 14px;
  color: #333;
  line-height: 1;
  overflow: hidden;
  transition: height 0.3s;
}
.site-topbar .container .topbar-cart {
  position: relative;
  z-index: 3;
  height: 40px;
  line-height: 40px;
  text-align: center;
  color: #b0b0b0;
  background: #424242;
  float: right;
  width: 120px;
  margin-left: 15px;
  font-size: 12px;
}
.site-topbar .container .topbar-info {
  float: right;
}
.site-topbar .container .topbar-info .sep {
  margin: 0.3em;
  color: #424242;
}
.site-topbar .container .topbar-info a {
  display: inline-block;
  color: #b0b0b0;
  line-height: 40px;
}

.site-header {
  position: relative;
  z-index: 20;
  height: 100px;
}
.site-header .container {
  width: 1226px;
  margin: 0 auto;
}
.site-header .header-logo {
  float: left;
  width: 62px;
  margin-top: 22px;
}
.site-header .header-logo .logo {
  position: relative;
  display: block;
  width: 55px;
  height: 55px;
  overflow: hidden;
  background: url(//s02.mifile.cn/assets/static/image/mi-logo.png) no-repeat 50% 50%;
  background-color: #ff6700;
  opacity: 1;
}
.site-header .header-nav {
  float: left;
  width: 850px;
}
.site-header .header-nav .nav-list {
  position: relative;
  z-index: 10;
  float: left;
  width: 1100px;
  height: 88px;
  margin: 0;
  padding: 12px 0 0 30px;
  font-size: 16px;
}
.site-header .header-nav .nav-list .nav-category {
  position: relative;
  float: left;
  width: 127px;
  padding-right: 15px;
}
.site-header .header-nav .nav-list .nav-category .link-category {
  display: block;
  padding: 26px 0 38px;
  text-align: right;
  color: #333;
  visibility: hidden;
}
.site-header .header-nav .nav-list .nav-item {
  float: left;
}
.site-header .header-nav .nav-list .nav-item .link {
  display: block;
  padding: 26px 10px 38px;
  color: #333;
  transition: color 0.2s;
}
.site-header .header-nav .nav-list .nav-item .nav-item-active {
  color: #ff6700;
}
.site-header .site-category {
  position: absolute;
  top: 88px;
  left: -92px;
  z-index: 21;
  width: 234px;
  height: 460px;
  font-size: 14px;
}
.site-header .site-category .site-category-list {
  height: 420px;
  border: 0;
  color: #fff;
  background: rgba(105, 101, 101, 0.6);
  margin: 0;
  padding: 20px 0;
}
.site-header .site-category .site-category-list .title {
  position: relative;
  padding-left: 30px;
  height: 42px;
  line-height: 42px;
}
.site-header .site-category .site-category-list .icon-jiantou-copy {
  position: absolute;
  right: 10px;
}
.site-header .header-search {
  float: right;
  width: 296px;
  margin-top: 25px;
}
.site-header .header-search .search-form {
  position: relative;
  width: 296px;
  height: 50px;
  z-index: 20;
}
.site-header .header-search .search-form .search-text {
  position: absolute;
  top: 0;
  border: 1px solid #e0e0e0;
  outline: 0;
  width: 223px;
  height: 48px;
  padding: 0 10px;
  font-size: 14px;
  line-height: 48px;
  box-sizing: content-box;
}
.site-header .header-search .search-form .search-btn {
  position: absolute;
  top: 0;
  right: 0;
  border: 1px solid #e0e0e0;
  outline: 0;
  width: 52px;
  height: 50px;
  font-size: 24px;
  line-height: 24px;
  background: #fff;
  color: #616161;
}

.container {
  width: 1226px;
  margin-right: auto;
  margin-left: auto;
}
.container .home-hero {
  position: relative;
  margin-bottom: 26px;
}
.container .home-hero .home-hero-swiper {
  position: relative;
  height: 460px;
  overflow: hidden;
}
.container .home-hero .home-hero-swiper .swiper-wrapper .swiper-slide {
  height: 460px;
}
.container .home-hero .home-hero-swiper .swiper-wrapper .swiper-slide img {
  display: block;
  width: 1226px;
  height: 460px;
}
.container .home-hero .swiper-button-prev {
  left: 234px;
  width: 41px;
  height: 69px;
}
.container .home-hero .swiper-button-next {
  width: 41px;
  height: 69px;
  right: 0;
}
.container .home-hero .swiper-pagination-bullets {
  left: 500px;
}
.container .home-hero .home-hero-sub {
  margin-top: 14px;
}
.container .home-hero .row {
  margin-left: -14px;
}
.container .home-hero .span4 {
  width: 234px;
  float: left;
  margin-left: 14px;
}
.container .home-hero .home-channel-list {
  margin: 0;
  padding: 3px;
  list-style-type: none;
  font-size: 12px;
  text-align: center;
  background: #5f5750;
  overflow: hidden;
}
.container .home-hero .home-channel-list li {
  position: relative;
  float: left;
  color: #fff;
  opacity: 0.7;
  width: 70px;
  height: 82px;
  padding: 0 3px;
}
.container .home-hero .home-channel-list li img {
  display: block;
  width: 24px;
  height: 24px;
  margin: 18px auto 4px;
}
.container .home-hero .span16 {
  width: 978px;
  float: left;
  margin-left: 14px;
}
.container .home-hero .span16 .first {
  margin-left: 0;
}
.container .home-hero .span16 li {
  margin-left: 15px;
  float: left;
  width: 316px;
  height: 170px;
}
.container .home-hero .span16 li img {
  width: 100%;
  height: 100%;
}

/*# sourceMappingURL=index.css.map */
